* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans Flex', sans-serif;
    color: #2d99ae;
}


.user-list {
    background-color: #bcfefe;
    border-radius: 12px;
    width: 400px;
    height: 600px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    overflow-y: scroll;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.15);
}
.user-list::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
  }
  
  .user-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .user-list:hover::-webkit-scrollbar-thumb {
    background: #bcc0c4;
  }
  
h1 {
    text-align: center;
}