<div class="user-list">
  <h1>User list</h1>
  <app-user username="Võ Quốc Huy" age="25" nationality="American"></app-user>
  <app-user username="Khổng Minh Lộc" age="21" nationality="American"></app-user>
  <app-user username="Tăng Hoàng Lương" age="25" nationality="American"></app-user>
  <app-user username="Tăng Hoàng Lương" age="25" nationality="American"></app-user>
  <app-user username="Tăng Hoàng Lương" age="25" nationality="American"></app-user>
  <app-user username="Tăng Hoàng Lương" age="25" nationality="American"></app-user>
  <app-user username="Tăng Hoàng Lương" age="25" nationality="American"></app-user>
  <app-user username="Tăng Hoàng Lương" age="25" nationality="American"></app-user>
  <app-user username="Tăng Hoàng Lương" age="25" nationality="American"></app-user>
  <app-user username="Tăng Hoàng Lương" age="25" nationality="American"></app-user>
</div>