.user {
    background-color: #f8dad0;
    padding: 10px;
    border-radius: 8px;
}
.user:hover{
    background-color: #f8d0c0;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.02);
}
.name{
    font-size: 23px;
    font-weight: bold;
}
.age{
    font-size: 15px;
    font-weight: bold;
}
.nationality{
    font-size: 15px;
    font-weight: bold;
}